<a href="https://colab.research.google.com/github/hemchan-cyber/M.Tech-AI-Machine-Learning-Practical/blob/main/Q1_Importing_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Q1.Importing Dataset of our choice and displaying the first five rows, and print the datatype of the DataFrame as a whole.And also displaying the statistical summary (mean, median, standard deviation, etc.) for each column and provide complete information about the DataFrame.

In [ ]:
import pandas as pd
from google.colab import drive

In [ ]:
# 2. Define Headers
# The raw dataset lacks headers, so we define them manually to prevent
# the first row of data from being misinterpreted as column names.
headers_data = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration",
                "num-of-doors", "body-style", "drive-wheels", "engine-location",
                "wheel-base", "length", "width", "height", "curb-weight", "engine-type",
                "num-of-cylinders", "engine-size", "fuel-system", "bore", "stroke",
                "compression-ratio", "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]

print("Headers type:", type(headers_data))

Headers type: <class 'list'>

In [ ]:
# 3. Read the Dataset
# We pass 'names=headers_data' to assign the columns we defined above.
file_path = '/content/drive/MyDrive/ML Lab practice/1.Importing Datasets/dataset_1.data'
df = pd.read_csv(file_path, names=headers_data)

In [ ]:
# 4. Data Inspection (First 5 Rows)
print("\n--- The first 5 rows of the dataframe ---")
print(df.head(5))

--- The first 5 rows of the dataframe ---
   symboling normalized-losses         make fuel-type aspiration num-of-doors  \
0          3                 ?  alfa-romero       gas        std          two
1          3                 ?  alfa-romero       gas        std          two
2          1                 ?  alfa-romero       gas        std          two
3          2               164         audi       gas        std         four
4          2               164         audi       gas        std         four

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
0  convertible          rwd           front        88.6  ...          130
1  convertible          rwd           front        88.6  ...          130
2    hatchback          rwd           front        94.5  ...          152
3        sedan          fwd           front        99.8  ...          109
4        sedan          4wd           front        99.4  ...          136

   fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
0         mpfi  3.47    2.68               9.0        111      5000       21
1         mpfi  3.47    2.68               9.0        111      5000       21
2         mpfi  2.68    3.47               9.0        154      5000       19
3         mpfi  3.19    3.40              10.0        102      5500       24
4         mpfi  3.19    3.40               8.0        115      5500       18

  highway-mpg  price
0          27  13495
1          27  16500
2          26  16500
3          30  13950
4          22  17450

[5 rows x 26 columns]

In [ ]:
# 5. Data Inspection (Last 10 Rows)
print("\n--- The last 10 rows of the dataframe ---")
print(df.tail(10))

--- The last 10 rows of the dataframe ---
     symboling normalized-losses   make fuel-type aspiration num-of-doors  \
195         -1                74  volvo       gas        std         four
196         -2               103  volvo       gas        std         four
197         -1                74  volvo       gas        std         four
198         -2               103  volvo       gas      turbo         four
199         -1                74  volvo       gas      turbo         four
200         -1                95  volvo       gas        std         four
201         -1                95  volvo       gas      turbo         four
202         -1                95  volvo       gas        std         four
203         -1                95  volvo    diesel      turbo         four
204         -1                95  volvo       gas      turbo         four

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
195      wagon          rwd           front       104.3  ...          141
196      sedan          rwd           front       104.3  ...          141
197      wagon          rwd           front       104.3  ...          141
198      sedan          rwd           front       104.3  ...          130
199      wagon          rwd           front       104.3  ...          130
200      sedan          rwd           front       109.1  ...          141
201      sedan          rwd           front       109.1  ...          141
202      sedan          rwd           front       109.1  ...          173
203      sedan          rwd           front       109.1  ...          145
204      sedan          rwd           front       109.1  ...          141

     fuel-system  bore  stroke compression-ratio horsepower  peak-rpm  \
195         mpfi  3.78    3.15               9.5        114      5400
196         mpfi  3.78    3.15               9.5        114      5400
197         mpfi  3.78    3.15               9.5        114      5400
198         mpfi  3.62    3.15               7.5        162      5100
199         mpfi  3.62    3.15               7.5        162      5100
200         mpfi  3.78    3.15               9.5        114      5400
201         mpfi  3.78    3.15               8.7        160      5300
202         mpfi  3.58    2.87               8.8        134      5500
203          idi  3.01    3.40              23.0        106      4800
204         mpfi  3.78    3.15               9.5        114      5400

    city-mpg highway-mpg  price
195       23          28  13415
196       24          28  15985
197       24          28  16515
198       17          22  18420
199       17          22  18950
200       23          28  16845
201       19          25  19045
202       18          23  21485
203       26          27  22470
204       19          25  22625

[10 rows x 26 columns]

In [ ]:
# 6. Check Data Types
print("\n--- Data Types of each column ---")
print(df.dtypes)

--- Data Types of each column ---
symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [ ]:
# 7. Statistical Summary
print("\n--- Statistical Summary (Include All) ---")
# include="all" ensures we see stats for non-numeric columns (like 'make' or 'fuel-type')
print(df.describe(include="all"))

--- Statistical Summary (Include All) ---
         symboling normalized-losses    make fuel-type aspiration  \
count   205.000000               205     205       205        205
unique         NaN                52      22         2          2
top            NaN                 ?  toyota       gas        std
freq           NaN                41      32       185        168
mean      0.834146               NaN     NaN       NaN        NaN
std       1.245307               NaN     NaN       NaN        NaN
min      -2.000000               NaN     NaN       NaN        NaN
25%       0.000000               NaN     NaN       NaN        NaN
50%       1.000000               NaN     NaN       NaN        NaN
75%       2.000000               NaN     NaN       NaN        NaN
max       3.000000               NaN     NaN       NaN        NaN

       num-of-doors body-style drive-wheels engine-location  wheel-base  ...  \
count           205        205          205             205  205.000000  ...
unique            3          5            3               2         NaN  ...
top            four      sedan          fwd           front         NaN  ...
freq            114         96          120             202         NaN  ...
mean            NaN        NaN          NaN             NaN   98.756585  ...
std             NaN        NaN          NaN             NaN    6.021776  ...
min             NaN        NaN          NaN             NaN   86.600000  ...
25%             NaN        NaN          NaN             NaN   94.500000  ...
50%             NaN        NaN          NaN             NaN   97.000000  ...
75%             NaN        NaN          NaN             NaN  102.400000  ...
max             NaN        NaN          NaN             NaN  120.900000  ...

        engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
count    205.000000          205   205     205        205.000000        205
unique          NaN            8    39      37               NaN         60
top             NaN         mpfi  3.62    3.40               NaN         68
freq            NaN           94    23      20               NaN         19
mean     126.907317          NaN   NaN     NaN         10.142537        NaN
std       41.642693          NaN   NaN     NaN          3.972040        NaN
min       61.000000          NaN   NaN     NaN          7.000000        NaN
25%       97.000000          NaN   NaN     NaN          8.600000        NaN
50%      120.000000          NaN   NaN     NaN          9.000000        NaN
75%      141.000000          NaN   NaN     NaN          9.400000        NaN
max      326.000000          NaN   NaN     NaN         23.000000        NaN

        peak-rpm    city-mpg highway-mpg price
count        205  205.000000  205.000000   205
unique        24         NaN         NaN   187
top         5500         NaN         NaN     ?
freq          37         NaN         NaN     4
mean         NaN   25.219512   30.751220   NaN
std          NaN    6.542142    6.886443   NaN
min          NaN   13.000000   16.000000   NaN
25%          NaN   19.000000   25.000000   NaN
50%          NaN   24.000000   30.000000   NaN
75%          NaN   30.000000   34.000000   NaN
max          NaN   49.000000   54.000000   NaN

[11 rows x 26 columns]

In [ ]:
# look at the info of "df"
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB