<a href="https://colab.research.google.com/github/hemchan-cyber/M.Tech-AI-Machine-Learning-Practical/blob/main/Q4_Splitting_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q4 Python program to load (or create) a dataset, separate it into predictor variables (X) and target variable (y), and then split the dataset into training and testing sets. Finally, print both the training and testing datasets.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 1. Importing the Dataset
df = pd.read_excel("/content/drive/MyDrive/ML Lab practice/3 & 4 Data standardization and Train & test data splitting/Salary_Dataset_02.xls")
print("--- First 5 rows of the dataset ---")
print(df.head())
print("\n" + "="*50 + "\n")

--- First 5 rows of the dataset ---
   Australia  Canada  Dubai  USA  Salary  YearsExperience  Purchased
0          0       0      1    0   39343              1.1          0
1          0       1      0    0   46205              1.3          1
2          0       1      0    0   37731              1.5          0
3          0       1      0    0   43525              2.0          0
4          0       0      0    1   39891              2.2          0

==================================================

In [ ]:
# 2. Dividing into Target and Predictor Variables
# X stores predictor variables (All columns except the last one)
# y stores target variable (The last column)
X = df.iloc[:, :-1]
y = df.iloc[:, -1]
print("--- Predictors (X) ---")
print(X.head())
print("\n--- Target (y) ---")
print(y.head())
print("\n" + "="*50 + "\n")

--- Predictors (X) ---
   Australia  Canada  Dubai  USA  Salary  YearsExperience
0          0       0      1    0   39343              1.1
1          0       1      0    0   46205              1.3
2          0       1      0    0   37731              1.5
3          0       1      0    0   43525              2.0
4          0       0      0    1   39891              2.2

--- Target (y) ---
0    0
1    1
2    0
3    0
4    0
Name: Purchased, dtype: int64

==================================================

In [ ]:
# 3. Splitting into Training and Testing Sets
# test_size = 0.2 means 20% of data is for testing
# random_state = 90 ensures consistent splitting results
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=90)

In [ ]:

# 4. Displaying the Output
print("--- X_train (Training Predictors) ---")
print(X_train)
print("\n--- X_test (Testing Predictors) ---")
print(X_test)
print("\n--- y_train (Training Targets) ---")
print(y_train)
print("\n--- y_test (Testing Targets) ---")
print(y_test)

--- X_train (Training Predictors) ---
    Australia  Canada  Dubai  USA  Salary  YearsExperience
29          0       1      0    0  121872             10.5
6           0       1      0    0   60150              3.0
20          0       1      0    0   91738              6.8
23          1       0      0    0  113812              8.2
25          1       0      0    0  105582              9.0
14          1       0      0    0   61111              4.5
8           0       0      1    0   64445              3.2
22          1       0      0    0  101302              7.9
15          0       0      0    1   67938              4.9
21          1       0      0    0   98273              7.1
9           0       0      1    0   57189              3.7
13          0       1      0    0   57081              4.1
16          0       0      0    1   66029              5.1
19          0       1      0    0   93940              6.0
11          0       0      0    1   55794              4.0
0           0       0      1    0   39343              1.1
10          0       0      1    0   63218              3.9
28          0       0      0    1  122391             10.3
5           0       0      1    0   56642              2.9
4           0       0      0    1   39891              2.2
7           1       0      0    0   54445              3.2
3           0       1      0    0   43525              2.0
18          1       0      0    0   81363              5.9
27          0       0      0    1  112635              9.6

--- X_test (Testing Predictors) ---
    Australia  Canada  Dubai  USA  Salary  YearsExperience
17          0       1      0    0   83088              5.3
24          0       0      1    0  109431              8.7
26          0       0      1    0  116969              9.5
2           0       1      0    0   37731              1.5
1           0       1      0    0   46205              1.3
12          0       0      1    0   56957              4.0

--- y_train (Training Targets) ---
29    1
6     1
20    0
23    1
25    1
14    0
8     1
22    0
15    0
21    0
9     0
13    0
16    0
19    0
11    0
0     0
10    1
28    0
5     0
4     0
7     0
3     0
18    1
27    1
Name: Purchased, dtype: int64

--- y_test (Testing Targets) ---
17    0
24    0
26    0
2     0
1     1
12    1
Name: Purchased, dtype: int64